extend ../layout/layout

block header
    include  ../parts/adminHeader.pug

block content
    div.grow
        h1 Bienvenue #{username}
        mon  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor, felis vitae molestie vestibulum, arcu quam egestas orci, nec sollicitudin nulla lorem vel ligula. Ut in ultrices eros. Sed turpis neque, fringilla vitae velit sed, eleifend ornare enim. Vivamus vel sem nec est tincidunt varius. Aenean tincidunt ultricies nisl quis eleifend. Phasellus eget ultricies lacus, sed tristique massa. Nullam vitae arcu non enim sagittis accumsan a nec magna. Donec ut luctus quam. Duis cursus pharetra viverra. Quisque scelerisque metus mi, a congue tortor tristique sit amet. Donec commodo mauris dui, in euismod nulla convallis vitae. Phasellus elementum est et lacus pharetra, volutpat faucibus ex feugiat. 